<%- include ../layouts/header.ejs%>
<br/><br/>
<div class="card">
    <div class="card-header">
        Formulario de captura
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos del Producto</h5>
        <p class="card-text">
            <form method="post" action="/productos">
                <div class="form-group">
                    <label for="my-input">Nombre</label>
                    <input id="my-input" class="form-control" type="text" name="nombre">
                </div>
                <div class="form-group">
                    <label for="my-input">Descripción</label>
                    <input id="my-input" class="form-control" type="text" name="descripcion">
                </div>
                <label for="my-input">Categoria</label>
                <div>
                    <select class="form-select" aria-label="Default select example" name="categoria" id="my-input">
                        <% for( let i = 0; i < categorias.length; i++ ) { %>
                            <option value='<%= i %>'> <%=categorias[i].categoria%> </option>
                        <% } %>
                    </select>
                </div><br>
                <div class="form-group">
                    <label for="my-input">Precio</label>
                    <input id="my-input" class="form-control" type="number" step="0.01" min="0" max="150" name="precio">
                </div>
                <button class="btn btn-success" type="submit">Guardar</button>
                <a class="btn btn-primary" href="/productos">Cancelar</a>
            </form>
        </p>
    </div>
</div>
<%- include ../layouts/footer.ejs%>