<%- include ../layouts/header.ejs%>
<br/><br/>
<div class="card">
    <div class="card-header">
        Formulario de captura
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos de la Categoria</h5>
        <p class="card-text">
            <form method="post" action="/categorias">
                <div class="form-group">
                    <label for="my-input">Categoria</label>
                    <input id="my-input" class="form-control" type="text" name="categoria">
                </div>
                <button class="btn btn-success" type="submit">Guardar</button>
                <a class="btn btn-primary" href="/categorias">Cancelar</a>
            </form>
        </p>
    </div>
</div>
<%- include ../layouts/footer.ejs%>